$application-background:#00040F;
$activText-color:rgba(255, 255, 255, 1);
$nonActiv-color:rgba(255, 255, 255, 0.7);
$gradient-button:linear-gradient(rgba(222, 249, 250, 1),rgba(190, 243, 245, 1),rgba(157, 237, 240, 1),rgba(125, 231, 235, 1),rgba(92, 225, 230, 1),rgba(51, 187, 207, 1));
$icon-color:rgba(0, 246, 255, 1);
$icon-background:rgba(9, 151, 124, 0.1);
$activ-background-color:linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
$regular-size:18px;
$small-size:16px;
$mobile-margin:30px;
@mixin gradient-text {
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
//global-rules
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-color: $application-background;
    color: $nonActiv-color;
    font-size: $regular-size;
    box-sizing: border-box;
    
}
.app{
    max-width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100px auto auto;
    grid-template-columns: repeat(10,1fr);
    grid-template-areas: "nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar" 
    "home home home home home home home home home home " 
    "feature feature feature feature feature feature feature feature feature feature"
    "about about about about about about about about about about "
    "solution solution solution solution solution solution solution solution solution solution"
    "footer footer footer footer footer footer footer footer footer footer";
}
.light-bg{
    width: 700px;
    height: 700px;
    position: absolute;
    top: 0%;
    right: 0;
    background-image: url('../assets/vector.svg');
    z-index: 0;
    // background-position: center;
}
nav{
    z-index: 1;
    grid-area: nav-bar;
    margin: 0 100px 0 100px;
    justify-content: space-between;
    padding: 30px 0 30px 0;
    display: flex;
    align-items: center;
    
    a:hover{
     font-weight: 500;
    }
}
.container{
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    margin: 100px;
    justify-content: space-between;
    grid-area: con;
}
@media (max-width: 767px) {
    .container{
        margin: 30px;
        max-width :100%;
    }
}
h1{
    font-weight: 600;
    font-size: 72px;
    line-height: 100.8px;
    letter-spacing: 0.01em;
    color: $activText-color;
}
@media (max-width: 767px) {
    h1{
    font-size: 40px;
    }
}

h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 76.8px;
    letter-spacing: -2px;
    color: $activText-color;
}
a{
    text-decoration: none;
    color: $nonActiv-color;
}
ul{
    list-style: none;
}
button{
    cursor: pointer;
}
//Nav-section
nav{
    .mobile-screen{
        display: none;
        div{
            height: 5px;
            width: 40px;
            background-color: $activText-color;
            margin: 5px;
        }
    }
    .main-list{
        grid-area: ul;
        display: flex;
        margin: 0;
        padding: 0;
        li{
            padding-left: 40px;
        }
    }
    a{
        padding-bottom: 2px;
    }
    a:hover{
        color: $activText-color;
    }
    a:active,
    a:hover,
    a:focus {
    border-bottom: 2px solid;
}
    .nav-list{
        display: none;
    }
}
@media (max-width: 767px) {
    nav{
        margin-right: $mobile-margin;
        margin-left: $mobile-margin;
        max-width:100%;   
        display: flex;
        justify-content: space-between;   
        .main-list{
            display: none;
        }
        .mobile-screen{
            display: block;
            cursor: pointer;
        }
        .nav-list{
            display: block;
            position: absolute;
            right: 19px;
            height: fit-content;
            width: fit-content;
            background: linear-gradient(rgb(39, 39, 39), rgb(17, 16, 29));
            top: 84px;
            z-index: 4;
            ul{
                text-align: center;
                li{
                    padding: 40px;
                }
            }
            
        }
        // .nav-list::before{
        //     content: "";
        //     position: absolute;
        //     width: 30px;
        //     height: 30px;
        //     background: linear-gradient(rgb(39, 39, 39), rgb(17, 16, 29));
        //     transform: rotate(45deg);
        //     top: -11px;
        //     right: 21px;
        // }
    }
    
}
//Home-section
#home{
        grid-area: home;
    .container{
        grid-template-areas: "des des des desc img img img img";

    }    
    
}
.description{
    grid-area: des;
  .sale{
    width: fit-content;
    display: flex;
    background: linear-gradient(rgba(39, 39, 39, 1),rgba(17, 16, 29, 1));
    padding: 4px;
    border-radius: 10px;
    text-transform: capitalize;
    img,p{
        display: inline;
        margin: 0;
    }
    p{
        padding-top:3px ;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 5px;
        color:rgba(255, 255, 255, 0.5) ;
        line-height: 27px;
       span{
        color: $activText-color;
       } 
    }
  } 
  .heading{
    h1{
        position: relative;
        span{
           @include gradient-text()
        }
    }}

  .paragraph{
    p{
        line-height: 30.6px;
    }
  }
}
.getstarted{
    position: absolute;
    right: -140px;
    top: -15px;
    grid-area: getstart;
    @include gradient-text();
    width: 140px;
    height: 140px;
    text-align: center;
    border: solid rgba(92, 225, 230, 1) 1px;
    border-radius: 80px;
    justify-items: center;
    justify-content: center;
    display: inline-flex;
     span{
        line-height: 1;
        font-size: $regular-size;
        padding-top: 30%;
        padding-bottom: 30%;
        height: fit-content;
        padding-right: 20px;
        padding-left: 20px;
        img{
            transform: translate(11px, 4px);
        }
     }
}

.img{
    grid-area: img;
transform: translate(0px, -20px);
    img{
        width: calc(100% + 100px);  
        min-width: 351px;
    }
}
.company-info{
    height: 30px;
        display: flex;
        justify-content: space-between;
    div{
        position: relative;
        display: flex;
        justify-content: space-between;
        height: fit-content;
        p,h3{
            height: fit-content;
            margin: 0;
        }
        h3{
            color: $activText-color;
            font-weight: 600;
            font-size: 41px;
        }
        p{
          margin-left: 50px;
          align-self: center;
          @include gradient-text()
        }
    }
    .center{
        position: relative;
        padding-left: 60px;
        padding-right: 60px;
    }
    .center::after{
        content: "";
        position: absolute;
        width: 1px;
        height: 30%;
        background-color: rgba(255, 255, 255, 0.7);
        left: 15px;
        top: 37%;
    }
    .center::before{
        content: "";
        position: absolute;
        width: 1px;
        height: 30%;
        background-color: rgba(255, 255, 255, 0.7);
        right: 15px;
        top: 37%;
    }
}
@media(min-width: 1200px){
    .light-bg{
        top: 10%;
    }
}
@media (max-width: 767px) {

    #home{
        .container{
            margin-top: 100px
        }
    }
   .description{
    max-width: 150px;
    .sale{
    font-size: small;
    height: fit-content;
    width: 300px;
    position: relative;
    top: -99px;
    }
    .heading{
        z-index: 2;
        position: relative;
        h1{
            line-height: normal;
        }
        div{
            width: 100px;
            height: 100px;
            bottom: 10px;
            right: -164px;
            top: 1px;
            left: 123px;
            span{
                padding-top: 23%;
            }
        }
    }
    .paragraph {
        width:200%;
        p{
           max-width: 100%;
           font-size: small;
        }
    }
   }
   .img{
    height: fit-content;
    img{
        transform: translate(-36px, -29px);
        width: 154%;
        min-width: 154%;
    }
   }  
}
@media(max-width:555px){
    .getstarted{
        display: none;
    }
}
@media(max-width:1064px){
    .paragraph{
        width: 200%;
    }
}
@media(max-width:1300px){

.company-info{
    max-width: 100%;
    height: fit-content;
    margin-top: 0;
    div{
        justify-content: stretch;
    h3{
    font-size: 20px;
    }
    p{
        font-size: 10px;
        margin: 0;
        width: 100px;
        position: absolute;
        top: 27px;
        margin-top: 12px;
    }
}
.center{
    padding: 0;
}
.center::after,.center::before{
    display: none;
}
 } }

//features
.group1{
    margin-right: 20px;    
    grid-area: group1;
}    
    .group2{
    margin-left: 100px;         
    grid-area: group2;
}
#features{
    grid-area: feature;

.section1{      
.container{
    grid-template-areas: "group1 group1 group1 group1 group2 group2 group2 group2";
  
.group2{
margin-top: 60px;    
.recentagle{ 
    position: relative;
    margin: 50px;
    margin-top: 0;
    font-size: $small-size;
    line-height: 24px; 
    min-width: 214px;
h3{
    display: inline;
}  
p{
    margin: 0;
} 
.icon{
    position: absolute;
    background-color: $icon-background;
    border-radius: 30px;
    left: -60px;
    height: 50px;
    width: 50px;
    text-align: center;
    img{
        transform: translate(1px, 11px);
        width: 27px;
    }
}}}}   
}
.section2{
    .container{
        grid-template-areas: "group1 group1 group1 group1 group2 group2 group2 group2";
    }  
    img{
        max-width: 100%;
        height: 100%;
}
.group2{
    img{
        margin: 15px;
        margin-top: 50px;
    }
}    
}
.section3{
    .container{
        grid-template-areas: "group1 group1 group1 group1 group2 group2 group2 group2";
    }
    img{
        max-width: 100%;
        height: 100%;
}     
}
}
.section-btn{
    padding: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 40px;
    border-radius: 10px;
    background: $gradient-button;
}
@media(max-width:992px){
    #features{
        .container{
            display: flex;
            flex-wrap: wrap;
            .group2{
                margin-left: 0;
            }
        }
    }
}
//about
#about{
    grid-area: about;
  
.container{
    grid-template-rows: auto auto auto;
    grid-template-areas: "head head head head head head head head"
    "quote quote quote quote quote quote quote quote"
    "com com com com com com com com";

}
.heading{
    grid-area: head;
    display: flex;
    justify-content: space-between;
    h2{margin-top: 0;
        width: 40%;} 
    p{
        width: 40%;
        align-self: center;
    }
} 
.quotes{
    grid-area: quote;
    display: grid;
    grid-area: quote;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    margin-top: 70px;
.quote{
    border-radius: 25px;
    padding: 35px;
    p{
        height: 50%;
        line-height: 32px;
        margin-top: 20px;
        margin-bottom: 30px;
        letter-spacing: 2%;
    }
.id{
    display: flex;
    img{
        margin-right: 10px;
        height: 48px;
        width: 48px;
    }
    div{
        line-height: 24px;
        font-size: $small-size;
        color: rgba(255, 255, 255, 0.5);
    }
    div span{
        color: $activText-color;
        opacity: 100%;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: normal;

    }
}    
}    
} 
.companies{
    grid-area: com;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5%;
    margin-top: 150px;
    align-items: center;
    img{
        max-width: 190px;
        max-height: 50px;
    }
}  
}
@media(max-width:992px){
    #about{
        .container{
            .heading{
            display: flex;
            flex-wrap: wrap;
            h2,p{
                width: 100%;
            }
            }
        .quotes{
            grid-template-columns: auto;
        }
        .companies{
            justify-content: center;
            grid-template-columns: auto auto;
            grid-gap: 15%;
            img{
                max-width: 100%;
            }
        }   
        }
    }
}
@media(max-width:650px){
 .app {
 footer{
    .container{
    display: block;}
 }   
 #solution{
    .container{
        display: block;
        padding: 40px;
        padding-right: 40px;
        padding-left: 40px;
        h2{
            letter-spacing: 0;
            line-height: normal;
            font-size: 30px;
        }
        div p{
            max-width: 100%;
            margin: 40px;

        }
        button{
            margin: 40px;
        }
    }
}
}}
//solutions
#solution{
    grid-area: solution;
    
.container{
    grid-template-areas: "div div div div div div btn btn";
    padding: 40px;
    background: $activ-background-color;
    border-radius: 20px;
    padding-left: 70px;
    padding-right: 70px;
    div{
        grid-area: div;
      p{
        max-width: 65%;
    letter-spacing: 1px;

      }  
    }
    button{
        grid-area: btn;
        max-width: 170px;
        max-height: 64px;
        align-self: center;
    }
}    
}
//footer
footer{
    grid-area: footer;
    background-color:rgba(11, 10, 12, 0.6)    ;
    .container{
        grid-template-areas: "logo logo . links . community . partner"
        "rights rights rights rights rights rights rights rights";
      .logo{
       grid-area: logo;
       img{
        width: 125px;
        margin-top: 28px;
        margin-bottom: 28px;
       }
      } 
      .links{
        grid-area: links;
      }
      .community{
       grid-area: community;
      }
      .partner{
        grid-area: partner;
      }
      h4{
        color: $activText-color;
      }
      ul{
       padding: 0;
       font-size: $small-size;
       li{
        cursor: pointer;
       }
      }
      .copy-right{
        grid-area: rights;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        border-top: solid $nonActiv-color 1px;
        align-items: center;
        flex-direction: row-reverse;
        img{
            margin-left: 30px;
            cursor: pointer;
        }
      }
      .copy-right:nth-child(1){
        min-width: fit-content;
      }
      @media(max-width:720px){
        .copy-right{
            justify-content: flex-start ;
            flex-direction: column ;
            align-items: start ;
            padding-top: 30px;
            img{
                margin-right: 30px ;
                margin-left: unset ;
            }
          }
    }
      margin-bottom: 0px;
    }

}
